.navigation{
    background-color: rgba(0, 0, 0, .75);
    padding-left: 48px;
        padding-top: 16px;
        padding-bottom: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.navigationContainer{
    list-style: none;
    display: inline-flex;
gap: 48px;
    font-size: 2rem;
    font-weight: 700;
   margin: 0;
   padding-left: 0;
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    font-weight: 700;
}

.active {
    color: rgb(229, 9, 20);
    text-decoration: none;
}