
.form {
    display: flex;
    justify-content: center;
    padding: 12px;
    gap: 10px;

}

.field {
    padding: 8px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 2px;
    line-height: 1.5;
    letter-spacing: -.02em;
    background-color:  rgb(255, 255, 255);
}

.searchBtn {
    cursor: pointer;
    display: block;
    cursor: pointer;
    padding: 8px 16px;
    color: #fff;
    font-weight: 500;
    letter-spacing: .04em;
    line-height: 1.5;
    background-color: #e50914;
    min-width: 132px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .45);
}